@font-face {
  font-family: "Cormorant";
  src: url("/fonts/Cormorant_Infant/CormorantInfant-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GowunDodum";
  src: url("/fonts/GowunDodum/GowunDodum-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("/fonts/IBMPlexSans/IBMPlexSansKR-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("/fonts/PlayfairDisplay/PlayfairDisplay-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RomanceDelighter";
  src: url("/fonts/RomanceDelighter/romance-delighter.bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
